.closemodal {
    position: absolute;
}

.closemodal .bar-button-default {
    color: #fff;
}

.picknumber-wrapper .item-select {
    border: 1px dashed #212121!important;
    border-color: #212121!important;
    border-radius: 1rem;
}

.picknumber-wrapper ion-label {
    color: #212121;
}
